@import '../../../styles.scss';

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    @include below('tablet') {
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }

    .search-left {
        display: flex;
        flex-direction: column;

        .search-text {
            margin-top: 0;

            @include below('tablet') {
                text-align: center;
            }
        }

        .search-input-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            @include below('tablet') {
                justify-content: center;
                flex-direction: column;
            }
        }

        .search-input {
            border: 2px solid $primary-color;
            border-radius: 5px;
            padding: 8px;
            margin-right: 30px;

            @include below('tablet') {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }
    }

    .search-right {
        .octocat-image {
            max-width: 200px;
            display: block;

            @include below('tablet') {
                max-width: 150px;
                margin-bottom: 20px;
            }
        }
    }   
}